<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center rounded-lg shadow-lg">
        <h2 class="alert-heading">Order completed successfully</h2>
        <p class="mb-0">You can check all your orders in the <strong>Orders</strong> section of your profile</p>
        <hr />
        <p class="mb-0"><strong>Thank you!</strong></p>
    </div>
    <a class="btn btn-outline-primary float-right" asp-action="Index">
        Back to List
    </a>
</div>
