<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center" style="padding: 30px; font-family: Arial, sans-serif;">
        <h2><i class="bi bi-check-circle-fill"></i> Your account was created successfully</h2>
        <p style="font-size: 20px;">You can now log in to your account using your credentials.</p>
        <hr />
        <p>Thank you!</p>
        <a class="btn btn-outline-success my-2 my-sm-0 text-white-50" asp-controller="Account" asp-action="Login">
            &#x1F511 Go Log in
        </a>
    </div>
</div>
